[Unit]
Description=FRC-4904 Localization Script
After=network-online.target

[Service]
WorkingDirectory=FOLDER_PATH
ExecStart=FOLDER_PATH/target/release/nano_2022
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=dev-video0.device
